@model DataLayer.Models.TblDealOrder

@using DigiShahr.Classes

<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات سفارش #@Model.Id
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>کد سفارش:</label>
                    <span>#@Model.Id</span>
                </div>
                <div class="form-group col-md-6">
                    <label>نام پکیج:</label>
                    <span>@Model.Deal.Name</span>
                </div>
                <div class="form-group col-md-6">
                    <label>مبلغ:</label>
                    <span>@Model.Deal.Price</span>
                </div>
                <div class="form-group col-md-6">
                    <label>نام فروشگاه:</label>
                    <a href="#"><span>@Model.Store.Name</span></a>
                </div>
                <div class="form-group col-md-6">
                    <label>زمان ثبت فروشگاه:</label>
                    <span>@Model.DateSubmited.AllToShamsi()</span>
                </div>
                <div class="form-group col-md-6">
                    <label>وضعیت پرداخت:</label>
                    @if (Model.IsPayed)
                    {
                        <span class="text-success">پرداخت شده</span>
                    }
                    else
                    {
                        <span class="text-danger">پرداخت نشده</span>
                    }
                </div>
            </div>
        </div>
    </div>
</form>