<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات سفارش
    </h6>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>کد سفارش:</label>
                    <span></span>
                </div>
                <div class="form-group col-md-6">
                    <label>نام پکیج:</label>
                    <span>پکیج1</span>
                </div>
                <div class="form-group col-md-6">
                    <label>نام فروشگاه:</label>
                    <a href="#"><span>افق کوروش</span></a>
                </div>
                <div class="form-group col-md-6">
                    <label>زمان ثبت فروشگاه:</label>
                    <span>زمان</span>
                </div>
                <div class="form-group col-md-6">
                    <label>وضعیت پرداخت:</label>
                    <span class="text-success">پرداخت شده</span>
                </div>
            </div>
        </div>
    </div>
</form>