<form id="listComment" class="my-column" asp-controller="Home" asp-action="InfoVisit"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="replace"
      data-ajax-update="#listComment"
      data-ajax-success="Success">
    <input readonly id="date"  name="Date" class=" uk-text-small" type="text" placeholder="تاریخ رزرو را انتخاب کنید   " value="">
    <input type="submit" value="ادامه"   class="gradientButton center uk-margin-small-top">/>
</form>

