
@{
    ViewData["Title"] = "انتخاب پکیج";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="pageHeader">
    <div class="space-double"></div>
    <div class="space-mobile"></div>
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">انتخاب پکیج</h3>
        <a><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
</div>
<content class="grid" dir="rtl">
    <article class="packagesCard firstPackage my-column mat my-clipped">
        <content>
            <h3 class="center">نام پکیج</h3>
            <div class="my-row">
                <ul class="uk-padding-remove-right uk-margin-right">
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                </ul>
                <div class="uk-margin-auto-right uk-margin-left uk-text-center uk-margin-auto-top uk-margin-auto-bottom">
                    <div class="periodOfPackage my-column">
                        <span class="icon-holder uk-margin-auto-top uk-margin-auto-bottom" uk-icon="calendar-outline">
                        </span>
                        <label class="uk-margin-auto-bottom">6 ماهه</label>
                    </div>
                    <label>520200<span>&nbsp;تومان</span></label>
                </div>

            </div>
            <hr />

        </content>
        <button class="gradientButton uk-margin-auto-right uk-margin-left uk-margin-bottom">انتخاب</button>
    </article>
    <article class="packagesCard my-column mat my-clipped">
        <content>
            <h3 class="center">نام پکیج</h3>
            <div class="my-row">
                <ul class="uk-padding-remove-right uk-margin-right">
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                    <li>
                        <span class="icon-holder" uk-icon="caret-back">
                        </span>
                        <label>8 دسته بندی</label>
                    </li>
                </ul>
                <div class="uk-margin-auto-right uk-margin-left uk-text-center uk-margin-auto-top uk-margin-auto-bottom">
                    <div class="periodOfPackage my-column">
                        <span class="icon-holder uk-margin-auto-top uk-margin-auto-bottom" uk-icon="calendar-outline">
                        </span>
                        <label class="uk-margin-auto-bottom">6 ماهه</label>
                    </div>
                    <label>520200<span>&nbsp;تومان</span></label>
                </div>

            </div>
            <hr />

        </content>
        <button class="gradientButton uk-margin-auto-right uk-margin-left uk-margin-bottom">انتخاب</button>
    </article>

</content>
<div class="space-double"></div>
<div class="space-mobile"></div>

