@model IEnumerable<DataLayer.Models.TblOrder>
@{
    ViewData["Title"] = "سفارشات";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="matCart my-column my-clipped">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">اطلاعات سفارشات فروشگاه</h3>
        <a href="/Store/Dashboard"><span class="icon-holder backIconDesktop" uk-icon="backIcon"></span></a>
    </div>
    <div class="uk-padding-small ScrollabelTabel" dir="rtl">
        <table class="uk-table OrdersTable center" dir="rtl">
            <thead class="uk-text-center uk-text-bold tabelHearder">
                <tr>
                    <th>نام مشتری</th>
                    <th>محله </th>
                    <th>جزییات</th>
                    <th>تایید سفارش</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5">سفارشی وجود ندارد</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.Name</td>
                        <td>@item.User.Naighborhood.Name</td>
                        <td><a href="#OrderInfo" onclick="OrderInfo(@item.Id)" uk-toggle><span class="icon-holder infoIcon" uk-icon="information-circle-outline"></span></a></td>
                        @if (!item.IsDelivered)
                        {
                            <td><a onclick="OrderSuccess(@item.Id)"><span class="icon-holder infoIcon" uk-icon="checkmark-outline"></span></a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<nav class="pagenav matCart my-clipped ">
    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
</nav>
<div class="my-space"></div>
<div id="OrderInfo" class="modal-sections" uk-modal>

</div>

@section Script{

    <script>
        function OrderInfo(Id) {
            $.get("/Store/OrderInfo?Id=" + Id, function (result) {
                $("#OrderInfo").html(result);
            });
        }

        function OrderSuccess(Id) {
            $.post("/Store/OrderDeliver?Id=" + Id, function (result) {
                if (result == "true") {
                    window.location.reload();
                } else {
                    window.location.href = result;
                }
            });
        }

    </script>
}

