@{
    ViewData["Title"] = "OrderInMap";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div id="map" class="map" style="width:100%;height:600px;"></div>
<link href="~/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/leaflet/leaflet.js"></script>
<script>
    var map = L.map('map').setView([@ViewBag.lat,@ViewBag.lon], 13);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Ecovill'
    }).addTo(map);
    var iconSetting = L.Icon.extend({
        options: {
            iconSize: [20, 29],
            iconAnchor: [10, 29]
        }
    });
    var customIcon = new iconSetting({ iconUrl: '/location.png' });
    theMarker = L.marker([@ViewBag.lat,@ViewBag.lon],
        { icon: customIcon }).addTo(map);

</script>