@model IEnumerable<DataLayer.Models.TblOrder>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="matCart my-column my-clipped">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">اطلاعات سفارشات فروشگاه</h3>
        <a><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
    <div class="uk-padding-small ScrollabelTabel" dir="rtl">
        <table class="uk-table OrdersTable center" dir="rtl">
            <thead class="uk-text-center uk-text-bold tabelHearder">
                <tr>
                    <th>نام مشتری</th>
                    <th>محله </th>
                    <th>جزییات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.Name</td>
                        <td>@item.User.Naighborhood.Name</td>
                        <td><a onclick="OrderInfo(@item.Id)" uk-toggle><span class="icon-holder infoIcon" uk-icon="information-circle-outline"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="matCart my-clipped uk-margin-medium-top">
    <ul class=" uk-pagination uk-flex-center" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="uk-active"><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul>
</div>
<div class="my-space"></div>
<div id="OrderInfo" class="modal-sections" uk-modal>

</div>

@section Script{
    <script>
        function OrderInfo(Id) {
            $.get("/Store/OrderInfo?Id=" + Id, function (result) {
                $("#OrderInfo").html(result);
            });
        }
    </script>
}

