
@{
    ViewData["Title"] = "StoreVitrin";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h1>StoreVitrin</h1>*@
<link href="~/StyleCenter/Sass/sellerStyle/createAccount.min.css" rel="stylesheet" />
<div class="space-double"></div>
<div class="space-mobile"></div>



