
@{
    ViewData["Title"] = "StoreVitrin";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h1>StoreVitrin</h1>*@
<link href="~/StyleCenter/Sass/sellerStyle/createAccount.min.css" rel="stylesheet" />
<div class="space-double"></div>
<div class="space-mobile"></div>
<form>
    <div class="mat BannerPlace my-column my-clipped">
        <h3 class="center absolute uk-margin-top">
            افزودن یا ویرایش بنر
        </h3>
        <div class="js-upload uk-position-absolute" uk-form-custom>
            <input type="file" multiple>
            <a><span class="icon-holder uk-margin-left uk-margin-small-top" uk-icon="add-circle-outline" tabindex="-1"></span></a>
        </div>
        <div class="js-upload uk-position-absolute" uk-form-custom>
            <input type="file" multiple>
            <a><span class="icon-holder uk-margin-left uk-margin-large-top" uk-icon="create-outline" tabindex="-1"></span></a>
        </div>
        <!--<div uk-form-custom>
        <input type="file" name="banner">
        <a><span class="icon-holder uk-position-absolute uk-margin-left uk-margin-small-top" uk-icon="add-circle-outline" tabindex="-1"></span></a>-->
        @*<button class="uk-button uk-button-default uk-button-small uk-border-rounded" type="button" tabindex="-1">انتخاب لوگو</button>*@
        <!--</div>-->
        <div class="uk-margin-auto-vertical logoPlace mat center">
            <h3 class="center uk-margin-auto-vertical">
                افزودن یا ویرایش لوگو
            </h3>

            <div class=" center uk-margin-small-top">

                <div class="js-upload" uk-form-custom>
                    <input type="file" multiple>
                    <a><span class="icon-holder" uk-icon="add-circle-outline" tabindex="-1"></span></a>
                </div>
                <div class="js-upload" uk-form-custom>
                    <input type="file" multiple>
                    <a><span class="icon-holder" uk-icon="create-outline" tabindex="-1"></span></a>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="mat productSection my-column my-clipped uk-margin-small-top">
    <a><span class="icon-holder uk-position-absolute uk-margin-small-top uk-margin-left" uk-icon="backIcon"></span></a>
    <div class="my-row uk-margin-top">
        <div class="uk-inline productCategory uk-margin-top" style="left:0;">
            <a class="uk-form-icon uk-margin-auto-vertical" href="#"><span class="icon-holder" uk-icon="add-outline"></span></a>
            <input class="uk-input" type="text">
        </div>
        <h3 class="center">:افزودن دسته بندی</h3>
    </div>

    <div class="my-row CategoryList">
        <div class="category">
            لبنیات
        </div>
        <div class="category">
            پروتئینی
        </div>
        <div class="category">
            خشکبار
        </div>
        <div class="category">
            نوشیدنی
        </div>
        <div class="category">
            لبنیات
        </div>
        <div class="category">
            پروتئینی
        </div>
        <div class="category">
            خشکبار
        </div>
        <div class="category">
            نوشیدنی
        </div>
        <div class="category">
            لبنیات
        </div>
        <div class="category">
            پروتئینی
        </div>
        <div class="category">
            خشکبار
        </div>
        <div class="category">
            نوشیدنی
        </div>
    </div>
    <hr />
    <h3 class="center"><a><span class="icon-holder" uk-icon="add-circle-outline"></span></a>افزودن محصول</h3>
    <div class="my-row">
        <div class="">

        </div>
    </div>
</div>

