@model DataLayer.Models.TblStore
@{
    ViewData["Title"] = "ویترین فروشگاه";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="space-double"></div>
<div class="space-mobile"></div>

<div class="BannerPlace my-column my-clipped"
     @if (Model.MainBannerUrl != null) { @: style="background-image: url('/Upload/StoreMainBanner/@Model.MainBannerUrl');background-repeat:no-repeat;"
     }>
    <h3 class="center absolute uk-margin-top">
        @if (string.IsNullOrEmpty(Model.MainBannerUrl))
        {
            @:افزودن بنر
        }
        else
        {
            @:ویرایش بنر
        }
    </h3>
    @if (string.IsNullOrEmpty(Model.MainBannerUrl))
    {
        <div class="js-upload uk-position-absolute" uk-form-custom>

            <input type="file" id="MainBannerFile">
            <a><span class="icon-holder uk-margin-left uk-margin-small-top" uk-icon="add-circle-outline" tabindex="-1"></span></a>
            <span class="uk-text-danger" id="MainBannerFileErorr"></span>
        </div>

    }
    else
    {
        <div class="js-upload uk-position-absolute" uk-form-custom>

            <input type="file" id="MainBannerFile">
            <span class="uk-text-danger" id="MainBannerFileErorr"></span>
            <a><span class="icon-holder uk-margin-left uk-margin-small-top" uk-icon="add-circle-outline" tabindex="-1"></span></a>
            <span class="uk-text-danger"></span>
        </div>
    }
    <div class="uk-margin-auto-vertical center">
        <h3 class="center uk-margin-auto-vertical">
            @if (!string.IsNullOrEmpty(Model.LogoUrl))
            {
                <img class="uk-margin-right" src="~/Upload/StoreLogo/@Model.LogoUrl" width="80" height="80" />
            }
        </h3>

        <div class=" center uk-margin-small-top">
            @if (string.IsNullOrEmpty(Model.LogoUrl))
            {
                <div class="js-upload" uk-form-custom>
                    <input type="file" id="LogoFile">
                    <span class="uk-text-danger">
                    </span>
                    <a><span class="icon-holder" uk-icon="create-outline" tabindex="-1"></span></a>
                    <span class="uk-text-danger" id="LogoFileErorr"></span>
                </div>
            }
            else
            {
                <div class="js-upload" uk-form-custom>
                    <input type="file" id="LogoFile">
                    <span class="uk-text-danger">
                    </span>
                    <a><span class="icon-holder" uk-icon="create-outline" tabindex="-1"></span></a>
                    <span class="uk-text-danger" id="LogoFileErorr"></span>
                </div>
            }
        </div>
    </div>

</div>
<div class="mat productSection my-column my-clipped uk-margin-small-top">
    <a><span class="icon-holder uk-position-absolute uk-margin-small-top uk-margin-left" uk-icon="backIcon"></span></a>
    <form id="CreateCategory">
        <div class="my-row uk-margin-top">
            <div class="uk-inline productCategory uk-margin-top" style="left:0;">
                <a id="SubmitCatagory" class="uk-form-icon uk-margin-auto-vertical"><span class="icon-holder" uk-icon="add-outline"></span></a>
                <input class="uk-input" id="CategoryName" type="text">
            </div>
            <span class="uk-text-danger" id="CreateCategoryErorr"></span>
            <h3 class="center">:افزودن دسته بندی</h3>

        </div>
    </form>
    <div class="my-row CategoryList">

        @if (Model.TblStoreCatagoryRels.Count() == 0)
        {
            <div class="category">
                دسته بندی اول
            </div>
            <div class="category">
                دسته بندی دوم
            </div>
            <div class="category">
                دسته بندی سوم
            </div>
            <div class="category">
                دسته بندی چهارم
            </div>
            <div class="category">
                دسته بندی پنجم
            </div>
        }

        @foreach (var item in Model.TblStoreCatagoryRels)
        {
            <div class="category">
                @item.Catagory.Name
            </div>
        }
    </div>
    <hr />
    <h3 class="center"><a href="#AddProduct" id="AddProductPapaer" uk-toggle><span class="icon-holder" uk-icon="add-circle-outline"></span></a>افزودن محصول</h3>
    <br>
    @foreach (var items in Model.TblStoreCatagoryRels)
    {
        foreach (var item in items.TblProducts)
        {
            <div class="my-row uk-padding-small AddProductSection" dir="rtl">
                <div class="my-column uk-margin-small-right uk-text-center">
                    <label>@item.Name</label>
                    <div class="my-row">
                        <label class="uk-margin-top price">@item.Price تومان</label>
                        @if (item.Discount != 0)
                        {
                            <label class="OFFPercent uk-margin-top">@item.Discount%</label>
                        }
                    </div>
                </div>
                <div class="ProductPicture center uk-text-center uk-margin-auto-right uk-margin-small-left">
                    <img class="uk-margin-right" src="~/Upload/Product/@item.MainImageUrl" width="80" height="80" />
                </div>
            </div>
            <hr />
        }
    }
</div>
<div class="space-double"></div>
<div class="space-mobile"></div>
<div id="AddProduct" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical " uk-overflow-auto dir="rtl">

    </div>
</div>

@section Script{
    <script src="~/ScriptCenter/Tools/Multi_formatting_Currency.js"></script>
    <script>
        $("#AddProductPapaer").click(function () {
            $.get("/Store/AddProduct/@Model.Id", function (result) {
                $(".uk-modal-dialog").html(result);
            });
    });
    </script>
    <script>
        $("#SubmitCatagory").click(function () {
            $.post("/Store/CreatCategory?Name=" + $("#CategoryName").val(), function (result) {
                if (result == "true") {
                    window.location.reload();
                }
                else {
                    $("#CreateCategoryErorr").html(result);
                }
            });
        });
    </script>
    <script>
        $("#MainBannerFile").change(function () {
            var fileUpload = $("#MainBannerFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            data.append("file", files[0]);

            $.ajax({
                type: "POST",
                url: "/Store/UploadMainBanner",
                contentType: false,
                processData: false,
                data: data,
                async: false,
                beforeSend: function () {
                    $("#divloader").show()
                },
                success: function (message) {
                    if (message == "true") {
                        window.location.reload();
                    } else {
                        $("#MainBannerFileErorr").html(message);
                    }
                },

            });
        });

        $("#LogoFile").change(function () {
            var fileUpload = $("#LogoFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            data.append("file", files[0]);

            $.ajax({
                type: "POST",
                url: "/Store/UploadLogo",
                contentType: false,
                processData: false,
                data: data,
                async: false,
                beforeSend: function () {
                    $("#divloader").show()
                },
                success: function (message) {
                    if (message == "true") {
                        window.location.reload();
                    } else {
                        $("#LogoFileErorr").html(message);
                    }

                },

            });
        });
    </script>
}
