
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<link href="~/StyleCenter/Sass/LoginRegister/BodyStyle.min.css" rel="stylesheet" />
@*<h1>Success</h1>*@
<div class="my-space"></div>
<div class="uk-position-center matCart my-clipped my-column center SuccessReport">

    @* free packages region:*@

    <img class="center" src="~/img/user/confirm.gif" width="220" height="220" />
    <h3 class="uk-margin-remove">فروشگاه شما ثبت شد</h3>
    <a class="gradientButtonLink center uk-margin-top uk-margin-bottom">تایید</a>

    @* end region*@

    @*Non-free packages region:*@

    <img class="center" src="~/img/user/confirm.gif" width="220" height="220" />    <h3 class="uk-margin-remove">فروشگاه شما ثبت شد</h3>
    <div class="my-row center uk-margin-top" dir="rtl">
        <label class="uk-text-bold">کد سفارش:</label><span>&nbsp;45658525</span>
    </div>
    <div class="my-row center uk-margin-small-top" dir="rtl">
        <label class="uk-text-bold">کد رهگیری پرداخت:</label><span>&nbsp;28493562</span>
    </div>
    <a class="gradientButtonLink center uk-margin-top uk-margin-bottom">تایید</a>

    @* end region*@
</div>
<div class="my-space"></div>
