/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.visible {
  visibility: visible; }

.collapsed {
  height: 0 !important;
  width: 0 !important;
  flex: 0 !important; }

.hidden {
  visibility: hidden; }

.absolute {
  position: absolute; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.space-mobile {
  visibility: collapse; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-mobile {
      width: 100vw;
      height: 10vw; } }

.space-desktop {
  width: 100vw;
  height: 4vw; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .space-desktop {
      visibility: collapse; } }

/*#region Global */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Nav */
/*#endregion */
/*#region Controls*/
/*#endregion */
/*#region Form */
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region Controls*/
/*#endregion */
.mat {
  background: #fff;
  border: none;
  -moz-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -webkit-box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  box-shadow: rgba(72, 72, 72, 0.36) 0 0px 0.4vw;
  -moz-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  -webkit-border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw; }

/*@mixin icon-glow() {
    -webkit-filter: drop-shadow( 0px 0px 5px green);
    filter: drop-shadow( 0px 0px 5px green);
    @include trans(0.5s);
}
@mixin subtle-glow() {
    -moz-box-shadow: #9EE250 0 6px 16px;
    -webkit-box-shadow: #9EE250 0 6px 16px;
    box-shadow: #9EE250 0 6px 16px;
}*/
.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 60px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.my-column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.my-row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.my-clipped {
  margin-left: auto;
  margin-right: auto;
  width: 90vw; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

/*#region Margin */
.margin-auto-left {
  margin-left: auto; }

.margin-auto-right {
  margin-right: auto; }

.margin-auto-bottom {
  margin-bottom: auto; }

.margin-auto-top {
  margin-top: auto; }

/*#endregion */
.padding {
  padding: 16px !important; }

/*index {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}*/
.IndexContainer .map {
  width: 100%;
  margin: auto !important;
  height: 58vh; }

.IndexContainer .Search {
  z-index: 1000;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -75px !important;
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }
  .IndexContainer .Search .uk-search {
    width: 200px; }
  .IndexContainer .Search input {
    text-align: right;
    background: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px; }
  .IndexContainer .Search input:focus {
    background-color: white !important; }

.IndexContainer .MenuGrid {
  position: relative; }
  .IndexContainer .MenuGrid a {
    text-align: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    color: #666 !important;
    cursor: pointer; }
  .IndexContainer .MenuGrid .category:hover {
    text-decoration: none !important; }
  .IndexContainer .MenuGrid .category:active {
    text-decoration: none !important; }

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  padding: 20px 2vw; }
  .grid .mat {
    width: 85px;
    border-radius: 22px;
    background: #FAE893;
    border: 1px solid #FAE893;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px;
    font-size: 14px; }

.subCategory h3 {
  font-family: "Sahel";
  font-size: 14px; }

#modal {
  z-index: 10000000; }
  #modal .uk-accordion-title {
    font-size: 15px !important;
    /*width: 180px;
        border-radius: 8px;
        background: white;
        border: 1px solid #FAE893;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        //padding: 0 8px;*/ }
  #modal .uk-accordion-title::before {
    border-radius: 8px;
    background-color: #FAE893;
    border: 1px solid #FAE893;
    box-sizing: border-box; }
  #modal .uk-accordion-title::after {
    border-radius: 8px;
    background-color: #FAE893;
    border: 1px solid #FAE893;
    box-sizing: border-box; }
  #modal .uk-modal-dialog {
    border-radius: 7px; }
  #modal a {
    color: #666 !important; }
  #modal a:hover {
    text-decoration: none !important; }
  #modal a:active {
    text-decoration: none !important; }
