@model DataLayer.Models.TblOrder
@{
    ViewData["Title"] = "سفارش تایید شد";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/Home/Bascket.min.css" rel="stylesheet" />

<div class="my-space"></div>
<div class="matCart my-column my-clipped">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">سبد خرید</h3>
        <a><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
    <div class="my-column cart-section uk-padding-small" dir="rtl">
        <div class="my-row ShoppingList uk-text-bold " dir="rtl">
            <label>نام محصول</label>
            <label class="uk-text-danger">قیمت(تومان)</label>
            <div class="Count">
                <span>تعداد</span>
            </div>
        </div>
        <hr />
        <div class="my-row ShoppingList" dir="rtl">
            <label>نام محصول</label>
            <label class="uk-text-danger">452453</label>
            <div class="Count">
               
                <span>12</span>
               
            </div>
        </div>
        <hr />
        <div class="my-row ShoppingList" dir="rtl">
            <label>نام محصول</label>
            <label class="uk-text-danger">453453</label>
            <div class="Count">

                <span>5</span>
                
            </div>
        </div>
        <hr />
        <div class="my-row ShoppingList" dir="rtl">
            <label>نام محصول</label>
            <label class="uk-text-danger">86785</label>
            <div class="Count">

                <span>3</span>
        
            </div>
        </div>

        <div class="priceFinal gradientButton uk-text-center center uk-margin-large-top">
            <label>مبلغ قابل پرداخت:<span>8797<span>&nbsp;تومان</span></span></label>
        </div>
        <div class="mat my-column uk-margin-top center uk-margin-bottom successMessage">
            <label class="horizontalCenter uk-margin-small-bottom">تایید فروشگاه <span class="icon-holder uk-text-success uk-margin-xlarge-right" uk-icon="checkmark"></span></label>
            <label class="horizontalCenter">تحویل و تسویه در محل فروشگاه</label>
        </div>
    </div>
</div>
<div class="my-space"></div>
