@model DataLayer.ViewModel.EditServiceViewModel
@{
    ViewData["Title"] = "تنظیمات ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="mat my-column my-clipped my-clipped-desktop">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">تنظیمات </h3>
        <a href="/Store/Dashboard"><span class="icon-holder backIconDesktop" uk-icon="backIcon"></span></a>
    </div>
    <form class="my-column createAccount uk-padding-small" action="BuissnesSetting" method="post" enctype="multipart/form-data" dir="rtl">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CityId" type="hidden" />
        <input asp-for="CatagoryId" type="hidden" />
        <div class="my-row uk-margin-top uk-margin-small-right">
            <div uk-form-custom>
                <input type="file" asp-for="LogoUrl">
                <img class="" src="~/Upload/StoreLogo/@Model.LogoUrl" width="80" height="80" />
            </div>


        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <label for="StaticTell">نام :</label>
        <input type="text" asp-for="Name">
        <label for="StaticTell">تلفن ثابت:</label>
        <input type="text" asp-for="StaticTell">
        <label for="name">قیمت :</label>
        <input type="text" asp-for="BuissnessPrice">
        <span asp-validation-for="BuissnessPrice" class="uk-text-danger"></span>
        <label for="name">توضیح مختصر  :</label>
        <textarea asp-for="BuissnessDescription" rows="5" placeholder="توضیح مختصر در مورد خودتون رو وارد کنید"></textarea>
        <span asp-validation-for="BuissnessDescription" class="uk-text-danger"></span>
        <label for="Address">آدرس :</label>
        <input type="text" asp-for="Address">
        <label for="address">موقعیت مکانی خود را کلیک کنید:</label>
        <div id="map" class="map"></div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <input asp-for="Lat" type="hidden" />
        <input asp-for="Lon" type="hidden" />
        <span asp-validation-for="Naighborhood" class="uk-text-danger"></span>
        <a onclick="SetMyLocation()" class="uk-margin-top serviceArea uk-margin-auto"><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="location-sharp"></span><span class="textSelectedMahele"> ثبت موقعیت کنونی</span></a>

        <a class="uk-margin-top serviceArea uk-margin-auto" href="#modal-sections" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="map"></span><span class="textSelectedMahele">تغیر محله های سرویس دهی</span></a>
        <div id="modal-sections" class="modal-sections" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center">لطفا محله های مورد نظر برای سرویس دهی را انتخاب و تایید فرمایید</h3>
                </div>
                <div class="uk-modal-body uk-padding-small">
                    <div class="delivery uk-grid-small uk-child-width-1-2 uk-grid">
                        @{
                            List<DataLayer.Models.TblNaighborhood> naighborhoods = ViewBag.Naighborhood;
                            List<DataLayer.Models.TblStoreNaighborhoodRel> selectedNaighborhoods = ViewBag.SelectedNaighborhood;
                        }
                        @foreach (var item in naighborhoods.OrderBy(i => i.Name))
                        {

                            <label class="uk-margin-remove-top"><input name="Naighborhood" id="Naighborhood" class="uk-checkbox radio_button j uk-margin-remove-top" @(selectedNaighborhoods.Any(i=>i.NaighborhoodId==item.Id)?"checked":"") type="checkbox" value="@item.Id">@item.Name</label>
                        }
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <button id="btnubni" class="uk-button uk-button-small uk-border-rounded gradientButton center uk-modal-close" type="button">تایید</button>
                </div>

            </div>
        </div>
        <span id="NaighborhoodChecked"></span>

        <input class="uk-margin-large-top uk-margin-bottom center gradientButton" type="submit" value="ویرایش ">
    </form>
</div>
<div class="my-space"></div>

@section Script{

<link href="~/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/leaflet/leaflet.js"></script>
<script>
    $("#btnubni").click(function () {
        if($('.radio_button').is(':checked'))
                                    {
                                           $('.textSelectedMahele').text("محل های سرویس دهی را تغیر دادید ");
                                    }
                                    else{

                                           $('.textSelectedMahele').text("انتخاب محله های سرویس دهی");
                                    }
        var selected = [];
        $('.j:checked').each(function () {
            selected.push($(this).attr('value'));
        });
        $("#NaighborhoodChecked").html("");
        for (var i = 0; i < selected.length; i++) {
            $("#NaighborhoodChecked").html($("#NaighborhoodChecked").html() + "<input name='Naighborhood' type='hidden' value='" + selected[i] + "' />");
        }
    });

    $("#btnMusic").click(function () {
        $("#MusicId").val($('.m:checked').val());
    });

</script>
<script>

    var latMap = $('#Lat').val();
    var LonMap = $('#Lon').val();
    var map = L.map('map').setView([latMap, LonMap], 12.5);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Ecovill'
    }).addTo(map);
     L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '<a onclick="SetMyLocation()">ثبت موقعیت کنونی شما</a>'
    }).addTo(map);
    var theMarker = {};
    var iconSetting = L.Icon.extend({
        options: {
            iconSize: [20, 29],
            iconAnchor: [10, 29]
        }
    });

    var customIcon = new iconSetting({ iconUrl: '/location.png' });
    var Name = $("#Name").val();
    var lat = $("#Lat").val();
    var lon = $("#Lon").val();
    L.marker([lat, lon], { icon: customIcon }).addTo(map);
    map.on('click', function (e) {
        lat = e.latlng.lat;
        lon = e.latlng.lng;

        //Clear existing marker,

        if (theMarker != undefined) {
            map.removeLayer(theMarker);
        };

        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [20, 29],
                iconAnchor: [10, 29]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/location.png' });
        //Add a marker to show where you clicked.
        $("#Lat").val(lat.toString());
        $("#Lon").val(lon.toString());
        theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت جدید فروشگاه شما ثبت شد</h6>').openPopup();
    });
      ////location
        function onLocationFound(e) {
            var radius = e.accuracy;
            L.marker(e.latlng).addTo(map);

            L.circle(e.latlng, radius).addTo(map);

            //L.Routing.control({
            //    waypoints: [
            //        L.latLng(e.latlng),
            //        L.latLng(38.058639, 46.361255)
            //    ]
            //}).addTo(map);

            lat = e.latlng.lat;
            lon = e.latlng.lng;
            $("#Lat").val(lat.toString());
            $("#Lon").val(lon.toString());

            if (theMarker != undefined) {
               map.removeLayer(theMarker);
            };

             theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت جدید شما ثبت شد</h6>').openPopup();
       
         }
        function SetMyLocation() {
            map.locate({ setView: true, maxZoom: 16 });
            map.on('locationfound', onLocationFound);
        }
</script>



}