@model DataLayer.ViewModel.ChangePasswordInSignIn
<form id="ChangeUserPassword" class="my-column  uk-padding-small" dir="rtl">
    <div class="uk-modal-body uk-padding-small">
        <input type="hidden" asp-for="TellNo" />
        <label>رمز عبور فعلی را وارد کنید</label>
        <div class="uk-margin">
            <input class="uk-input uk-border-rounded" asp-for="Password">
        </div>
        <label>رمز عبور جدید را وارد کنید</label>
        <div class="uk-margin">
            <input class="uk-input uk-border-rounded" asp-for="NewPassword">
        </div>
        <label>تکرار رمز عبور جدید</label>
        <div class="uk-margin">
            <input class="uk-input uk-border-rounded" asp-for="NewPasswrdConfirm">
        </div>
    </div>
    <div class="uk-modal-footer uk-text-center">
        <span id="Erorr" class="uk-text-danger"></span>
        <button class="uk-button uk-button-small uk-border-rounded gradientButton center" type="submit">تایید</button>
    </div>
</form>
<script src="~/Jquery/jquery-3.4.1.js"></script>
<script>
    $("#ChangeUserPassword").submit(function (e) {
        e.preventDefault();
        var data = $(this).serializeArray();
        $.post("/User/ChangeUserPassword", data, function (result) {
            if (result == "true") {
                window.location.reload();
            } else {
                $("#Erorr").html(result);
            }
        });
    })
</script>
