<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات فروشگاه 
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-5">
                    <label>نام فروشگاه:</label>
                    <span>هایپر مارکت رضایی</span>
                </div>
                <div class="form-group col-md-5">
                    <label>نام دسته بندی:</label>
                    <span>دسته بندی 1</span>
                </div>
                <div class="form-group col-md-5">
                    <label>نام صاحب فروشگاه:</label>
                    <span>علیرضا رضایی</span>
                </div>
                <div class="form-group col-md-5">
                    <label>وضعیت:</label>
                    <span class="text-success">فعال</span>
                </div>
                <div class="form-group col-md-5">
                    <label>تاریخ ثبت فروشگاه:</label>
                    <span>تاریخ</span>
                </div>
                <div class="form-group col-md-5">
                    <label>وضعیت تایید اعتبار:</label>
                    <span class="text-success"> تایید شده</span>
                </div>
                <div class="form-group col-md-5">
                    <label>شماره تلفن ثابت:</label>
                    <span>041...</span>
                </div>
                <div class="form-group col-md-5">
                    <label>شماره موبایل:</label>
                    <span>0914...</span>
                </div>
                <hr />
                <div class="form-group col-md-12 bg-light p-3">
                    <label>آدرس فروشگاه:</label>
                    <span>چهارراه منصور مجتمع پرنیان طبقه همکف پلاک25</span>
                </div>
                <div class="form-group col-md-5">
                    <label>لوگو:</label>
                    <span>
                        <img src="~/img/adminStatic/load2.gif" width="100" height="100" />
                    </span>
                </div>
                <div class="form-group col-md-5">
                    <label>امتیاز فروشگاه:</label>
                    <span>
                        <img src="~/img/adminStatic/load2.gif"  width="100" height="100" />
                    </span>
                </div>
                <div class="form-group col-md-5">
                    <label>حداکثر تعداد دسته بندی:</label>
                    <span>8</span>
                </div>
                <div class="form-group col-md-5">
                    <label>حداکثر تعداد محصول:</label>
                    <span>10</span>
                </div>

            </div>
        </div>
    </div>

</form>
