body {
    overflow-x: hidden;
}

.mat {
    border-radius: 8px;
}

.formTitr {
    h3 {
        font-family: "Sahel" !important;
        font-size: 16px !important;
        overflow: hidden;
        padding-right: 30px;
    }

    a {
        padding-left: 30px;
        color: black;
        font-weight: 400;
    }
}

.uk-checkbox {
    border-radius: 50px;
    background-color: #f5e7a6 !important;
    border-color: #f5e7a6 !important;
    // color: #3c3c3c;
}

.delivery {
    input:checked {
        background-color: #40916C !important;
        border-color: #40916C !important;
    }
}

.createAccount {
    input {
        border: 0;
        border-bottom: 1px solid #D7D7D7;
        font-size: 14px;
    }

    select {
        font-size: 14px;
        border-radius: 7px !important;

        option {
            border-radius: 7px !important;
            font-family: "Sahel" !important;
        }
    }

    label {
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .map {
        width: 100%;
        margin: auto !important;
        height: 160px;
        overflow: hidden;
    }
}
/*//////buyPackage region*/
.firstPackage {
    margin-top: -40px;
}

ul {
    list-style-type: none !important;
}

.packagesCard {
    margin-bottom: 24px;

    h3 {
        font-family: "Sahel";
        font-size: 18px;
        overflow: hidden;
        margin-bottom: 16px;
        margin-top: 6px;
    }

    .periodOfPackage {
        background: #F28F3B;
        border-radius: 5px;
        min-height: 75px;
        min-width: 80px;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        margin-bottom: 7px;
    }

    .gradientButton {
        width: 86px;
        height: 32px;
    }

    hr {
        margin-top: 2px !important;
    }
}

.serviceArea {
    border-radius: 7px;
    border: 1px solid #F28F3B;
    color: #666 !important;
    padding: 7px 0;
    width: 100%;
    font-size: smaller;
}

.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    text-decoration: none;
}

#modal-sections {
    .uk-modal-dialog {
        border-radius: 7px;
    }

    z-index: 10000000;

    h3 {
        font-family: "Sahel";
        font-size: 15px;
        overflow: hidden;
    }

    .delivery {
        .uk-checkbox {
            margin-right: 5px !important;
            margin-left: 5px !important;
        }
    }

    .gradientButton {
        width: 90px;
    }
}

.BannerPlace {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 200px;
    background: #F28F3B;

    h3 {
        font-size: 12px;
        font-family: "Sahel";
    }

    a {
        color: #5F5F5F;
    }
}

.uploadButton {
}

.logoPlace {
    width: 170px;
    height: 60px;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    h3 {
        font-size: 12px;
        font-family: "Sahel";
        margin-top: 8px !important;
    }

    a {
        color: #5F5F5F;
    }
}
.productSection {
    h3 {
        font-size: 14px;
        font-family: "Sahel";
        margin-top: 18px !important;
    }
    .productCategory {
        margin: 0 auto;

        input {
            border-radius: 5px !important;
            border: none !important;
            max-width: 140px !important;
            width: 100px;
            height: 30px !important;
            background: #FAE893 !important;
        }
    }
    .CategoryList {
        overflow-x: scroll !important;
        margin:20px 15px 5px 15px;

        .category {
            border-radius: 5px !important;
            border: none !important;
            max-width: 180px !important;
            min-width: 80px;
            height: 23px !important;
            background: #FAE893 !important;
            margin: 0 5px;
            padding: 4px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
        }
    }

    .CategoryList::-webkit-scrollbar {
        width: 0 !important;
    }

    .icon-holder {
        width: 18px !important;
        color: black;
    }

    hr {
        margin: 4px 20px !important;
    }
}
