body {
  overflow-x: hidden;
  height: 100vh; }

.mat {
  border-radius: 8px; }

.formTitr h3 {
  font-family: "Sahel" !important;
  font-size: 16px !important;
  overflow: hidden;
  padding-right: 30px; }

.formTitr a {
  padding-left: 30px;
  color: black;
  font-weight: 400; }

.uk-checkbox {
  border-radius: 50px;
  background-color: #f5e7a6 !important;
  border-color: #f5e7a6 !important; }

.delivery input:checked {
  background-color: #40916C !important;
  border-color: #40916C !important; }

.createAccount input {
  border: 0;
  border-bottom: 1px solid #D7D7D7;
  font-size: 14px; }

.createAccount select {
  font-size: 14px;
  border-radius: 7px !important; }
  .createAccount select option {
    border-radius: 7px !important;
    font-family: "Sahel" !important; }

.createAccount label {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 14px; }

.createAccount .map {
  width: 100%;
  margin: auto !important;
  height: 160px;
  overflow: hidden; }

/*//////buyPackage region*/
.firstPackage {
  margin-top: -40px; }

ul {
  list-style-type: none !important; }

.packagesCard {
  margin-bottom: 24px; }
  .packagesCard h3 {
    font-family: "Sahel";
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 16px;
    margin-top: 6px; }
  .packagesCard .periodOfPackage {
    background: #F28F3B;
    border-radius: 5px;
    min-height: 75px;
    min-width: 80px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    margin-bottom: 7px; }
  .packagesCard .gradientButton {
    width: 86px;
    height: 32px; }
  .packagesCard hr {
    margin-top: 2px !important; }

.serviceArea {
  border-radius: 7px;
  border: 1px solid #F28F3B;
  color: #666 !important;
  padding: 7px 0;
  width: 100%;
  font-size: smaller; }

.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
  text-decoration: none; }

#modal-sections {
  z-index: 10000000; }
  #modal-sections .uk-modal-dialog {
    border-radius: 7px; }
  #modal-sections .delivery .uk-checkbox {
    margin-right: 5px !important;
    margin-left: 5px !important; }
  #modal-sections .gradientButton {
    width: 90px; }

.uk-modal-header h3 {
  font-family: "Sahel";
  font-size: 15px;
  overflow: hidden; }

.BannerPlace {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 200px;
  background: #F28F3B; }
  .BannerPlace h3 {
    font-size: 12px;
    font-family: "Sahel"; }
  .BannerPlace a {
    color: #5F5F5F; }

.logoPlace {
  width: 170px;
  height: 60px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px; }
  .logoPlace h3 {
    font-size: 12px;
    font-family: "Sahel";
    margin-top: 8px !important; }
  .logoPlace a {
    color: #5F5F5F; }

.productSection h3 {
  font-size: 14px;
  font-family: "Sahel";
  margin-top: 18px !important; }

.productSection .productCategory {
  margin: 0 auto; }
  .productSection .productCategory input {
    border-radius: 5px !important;
    border: none !important;
    max-width: 140px !important;
    width: 100px;
    height: 30px !important;
    background: #FAE893 !important; }

.productSection .CategoryList {
  overflow-x: scroll !important;
  margin: 20px 15px 5px 15px; }
  .productSection .CategoryList .category {
    border-radius: 5px !important;
    border: none !important;
    max-width: 180px !important;
    min-width: 80px;
    height: 23px !important;
    background: #FAE893 !important;
    margin: 0 5px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center; }

.productSection .CategoryList::-webkit-scrollbar {
  width: 0 !important; }

.productSection .icon-holder {
  width: 18px !important;
  color: black; }

.productSection hr {
  margin: 4px 20px !important; }

.AddProductSection label {
  background: #c6c6c6;
  padding: 1px 20px;
  border-radius: 7px;
  margin-top: 5px; }

.AddProductSection .ProductPicture {
  background: #c6c6c6;
  padding: 27px;
  border-radius: 7px; }

.AddProductSection .OFFPercent {
  background: #F28F3B;
  margin-right: 8px;
  color: white; }
