@import '../_colors.scss';
@import '../_global.scss';
@import '../_layout.scss';

body {
    overflow-x: hidden;
    min-height: 100vh;
    //  min-height:100vh;
}

.mat {
    border-radius: 8px;
}

.formTitr {
    h3 {
        font-family: "Sahel" !important;
        font-size: 16px !important;
        overflow: hidden;
        padding-right: 30px;
    }

    a {
        padding-left: 30px;
        color: black;
        font-weight: 400;
    }
}

.uk-checkbox {
    border-radius: 50px;
    background-color: #f5e7a6 !important;
    border-color: #f5e7a6 !important;
    // color: #3c3c3c;
}

.delivery {
    input:checked {
        background-color: #40916C !important;
        border-color: #40916C !important;
    }
}

.createAccount {
    input {
        border: 0;
        border-bottom: 1px solid #D7D7D7;
        font-size: 14px;
    }

    input:focus {
       
        border-bottom: 2px solid #F28F3B;
        
    }

    select {
        font-size: 14px;
        border-radius: 7px !important;

        option {
            border-radius: 7px !important;
            font-family: "Sahel" !important;
        }
    }

    label {
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .map {
        width: 100%;
        margin: auto !important;
        height: 160px;
        overflow: hidden;
    }
}
/*//////buyPackage region*/
.firstPackage {
    margin-top: -40px;
}

ul {
    list-style-type: none !important;
}

.packagesCard {
    /*background: #FFF8D2!important;*/

    ul {
        list-style-type: disc !important;

        li {
            margin-right: 15px;
        }
    }

    margin-bottom: 24px;

    h3 {
        font-family: "Sahel";
        font-size: 18px;
        overflow: hidden;
        margin-bottom: 16px;
        margin-top: 15px;
    }

    .periodOfPackage {
        background: #F28F3B;
        border-radius: 5px;
        min-height: 100px;
        min-width: 86px;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        margin-bottom: 7px;
    }

    .gradientButtonLink {
        width: 86px;
        /*height: 32px;*/
    }

    hr {
        margin-top: 2px !important;
    }
}

.serviceArea {
    border-radius: 7px;
    border: 1px solid #F28F3B;
    color: #666 !important;
    padding: 7px 0;
    width: 100%;
    font-size: smaller;
}

.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    text-decoration: none;
}

.modal-sections {
    .uk-modal-dialog {
        border-radius: 7px;
    }

    z-index: 10000000;



    .delivery {
        .uk-checkbox {
            margin-right: 5px !important;
            margin-left: 5px !important;
        }
    }

    .gradientButton {
        width: 90px;
    }
}

.uk-modal-header {
    h3 {
        font-family: "Sahel";
        font-size: 15px;
        overflow: hidden;
    }
}

.BannerPlace {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 200px;
    background: #F28F3B;

    .absolute-right{
        right:10vw;
    }
    h3 {
        font-size: 12px;
        font-family: "Sahel";
    }

    a {
        color: #5F5F5F;
    }
}

.uploadButton {
}
.Lottery {
    .LotteryIcon {
        color: #40916C !important;
        text-align: right;
        // width: 70vw;
        img {
            width: 30vw;
        }
    }

    .uk-input {
        border: none !important;
    }
}
.DiscountCode {

    input {
        border-radius: 5px !important;
        border: none !important;
        //  max-width: 140px !important;
        //      width: 100px;
        height: 30px !important;
        background: #FAE893 !important;
    }

    .Count {
        width: 90px !important;
    }

    .gradientButtonLink {
        width: 90px;
        height: 22px !important;
        padding: 4px 0!important;
    }
}
.DiscountCodeResult {
    text-align: right !important;

}
.StoreSlider {
    img {
        width: 60px;
        height: 60px;
    }

    .uk-s-slider-container {
        color: #5F5F5F !important;
    }
}
.BannerInStore {
    width: 90vw;
    background: #F28F3B;
    width: 90vw;
    height: 184px;

    img {
        width: 90vw;
        height: 184px;
        border-radius: 8px;
    }
}
.LogoPicture {
    max-width: 100px;
    max-height: 100px;
}
.logoPlace {
    width: 170px;
    height: 60px;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    h3 {
        font-size: 12px;
        font-family: "Sahel";
        margin-top: 8px !important;
    }

    a {
        color: #5F5F5F;
    }
}
.productSection {
    h3 {
        font-size: 14px;
        font-family: "Sahel";
        margin-top: 18px !important;
    }
    .productCategory {
        margin: 0 auto;

        input {
            border-radius: 5px !important;
            border: none !important;
            max-width: 140px !important;
            width: 100px;
            height: 30px !important;
            background: #FAE893 !important;
        }
    }
    .CategoryList {
        overflow-x: scroll !important;
        margin:20px 15px 5px 15px;


        .category {
            border-radius: 5px !important;
            border: none !important;
            max-width: 180px !important;
            min-width: 80px;
            height: 23px !important;
            background: #FAE893 !important;
            margin: 0 5px;
            padding: 4px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
        }
    }

    .CategoryList::-webkit-scrollbar {
        width: 0 !important;
    }

    .icon-holder {
        width: 18px !important;
        color: black;
    }

    hr {
        margin: 4px 20px !important;
    }
}
.AddProductSection {
    padding: 10px 2px;

    .ProductName {
        text-align: right !important
    }

    label {
        //background: #c6c6c6;
        background: white;
        border-radius: 7px;
        margin-top: 5px;
        text-align: right !important
    }

    .ProductPicture {
        //background: #c6c6c6;
        background: white;
        // padding: 27px;
        border-radius: 7px;
        height: 80px;
        width: 80px;

        img {
            height: 80px;
            width: 80px;
            border-radius: 7px;
            background-size: contain;
        }
    }

    .OFFPercent {
        background: #F28F3B;
        margin-right: 4px;
        color: white;
        height: 23px;
        padding: 2px 7px !important;
    }
}
#AddProduct {
    z-index: 10000000;

    .uk-modal-dialog {
        border-radius: 7px;
    }
}
#StoreStatus{
    cursor:pointer;
}
#statusResult {
    margin-right: 2px;
    color: #32d296;
}
.OpenCloseStore {
    .door {
        margin-top: -7px;
        transition: height 1s;
        width: 25px;
        height: 8px;
        border-radius: 0 0 2px 2px;
        background-color: #242424;
    }

    .bottomOfdoor {
        cursor: pointer;
    }
}
.SuccessReport {
    h3 {
        font-family: "Sahel";
        font-size: 16px;
    }
}
///////////store index styles
.OrdersTable {
    .tabelHearder {
        border: 1px solid #F28F3B;
        border-radius: 8px !important;
    }

    thead {
        border: 1px solid #F28F3B;
        border-radius: 20px !important;
    }

    th {
        text-align: center;
        background-color: #F28F3B;
        color: white !important;
    }

    tr:hover {
        background-color: #f5e7a6;
    }

    .infoIcon{
        color:#40916C!important;
    }
}
#OrderInfo {
    .gradientButtonLink {
        height: 50px;
        padding: 5px 0;
    }

    overflow-x: hidden !important;
}
.OrderInfoModal {
    overflow-x: hidden !important;

    label {
        margin: 4px 0 !important;
    }

    .locationIcon{
        position:absolute;
        left:40px;
        top:120px;
        
        

    }
}
.ScrollabelTabel {
    overflow-x: scroll !important;
}
.ScrollabelTabel::-webkit-scrollbar {
    width: 0 !important;
}
.DashboardGrid {

    @include grid-gap(100px,2em);
    padding: 20px 2vw;
    grid-template-columns: 1fr 1fr;

    .matCart {
        width: 100px;
        height: 100px;
        border-radius: 13px;
        box-sizing: border-box;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding: 7px;
        font-size: 14px;
        color: #666;
    }

    .AcceptedOrders {
        background: #d5f7e8;

        .CheckmarkIcon {
            color: #40916C !important;
        }
    }

    .RejectedOrders {
        background: #ffd8d8;

        .CloseIcon {
            color: #ad1616 !important;
        }
    }

    .PackageTime {
        background: #fff8d6;

        .calndarIcon {
            color: #c8b141 !important;
        }
    }

    .CustomersNumber {
        background: #ffe5cf;

        .PeopleIcon {
            color: #F28F3B !important;
        }
    }
}
.LinkBox {
    width:75vw;
}
.ErrorMessage {
    .errmsg {
        width: 80vw;
        padding: 20px;
        background: #FFF8D2;
        border: 2px solid #F9EFBE;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        p {
            text-align: justify;
            -ms-text-justify: kashida;
            text-justify: kashida;
        }
    }

    ul {
        text-align: right;
        list-style-type: disc !important;
        li{
            margin:10px 0;
        }
    }
}