@model bool

@if (Model)
{
    <div class="uk-modal-dialog uk-margin-auto-vertical " uk-overflow-auto dir="rtl">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body my-column uk-padding-small">
            <div class="center my-column uk-margin-large-top">
                <img class="center" src="~/img/user/confirm.gif" width="220" height="220" />
            </div>
        </div>
        <div class="uk-modal-footer uk-text-center uk-margin-top">
            <button class="gradientButton center uk-margin-top uk-margin-bottom">
                تایید
            </button>
        </div>
    </div>
}
else
{
<div class="uk-modal-dialog uk-margin-auto-vertical " uk-overflow-auto dir="rtl">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-body my-column uk-padding-small">
        <div class="center my-column uk-margin-large-top">
            <img src="~/img/user/Error.svg" width="220" height="220" />
        </div>
    </div>
    <div class="uk-modal-footer uk-text-center uk-margin-top">
        <button class="gradientButton center uk-margin-top uk-margin-bottom">
            کد صحیح نیست
        </button>
    </div>
</div>
}

