@model DataLayer.ViewModel.ChangePasswordInNotSignInViewModel

@{
    Layout = null;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
<script>
    grecaptcha.ready(function () {
        window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'ResetPassword' }).then(function (token) {
            document.getElementById("captchaInput").value = token;
        });
    });
</script>
<style>
    .grecaptcha-badge {
        opacity: 0;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width ,initial-scale=1.0, user-scalable=no " />*@
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <title>تغییر رمز عبور</title>
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/LoginRegister/loginRegister.min.css" rel="stylesheet" />
</head>
<body>
    <div class="RegisterContainer">
        <div class="firstHead">
            <a href="/"><span class="icon-holder backIconDesktop uk-margin-large-top uk-margin-left uk-text-secondary absolute" uk-icon="backIcon"></span></a>
        </div>
        <div class="LoginContent LoginContentChangePassword my-clipped mat my-clipped-desktop">
            <div class="center my-column Forget absolute">
                <form class="my-column uk-margin-remove-bottom" dir="rtl" method="post" asp-action="ChangePassword" asp-controller="Account">
                    <partial name="_CaptchaInput" />
                    @Html.AntiForgeryToken()
                    <h3 class="uk-margin-remove-bottom uk-margin-top">کد فعالسازی را وارد کنید</h3>
                    <div class="uk-margin">
                        <input type="hidden" asp-for="TellNo" />
                        <input asp-for="Auth" class="uk-input">
                    </div>
                    <h3 class="uk-margin-remove">رمز عبور جدید را وارد کنید</h3>
                    <div class="uk-margin">
                        <input asp-for="NewPassword" class="uk-input">
                    </div>
                    <h3 class="uk-margin-remove">تکرار رمز عبور</h3>
                    <div class="uk-margin">
                        <input asp-for="NewPasswrdConfirm" class="uk-input">
                    </div>
                    <button class="gradientButton center uk-text-center" href="#success" uk-toggle>
                        ارسال
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="my-spaceInTablet"></div>
    <div id="success" uk-modal>
    </div>
</body>
</html>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="~/Jquery/jquery-3.4.1.js"></script>
<script src="/icons/uikit-icons.js"></script>
