
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstPage</title>
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/LoginRegister/loginRegister.min.css" rel="stylesheet" />
</head>
<body>
    <div class="contentContainer">
        <div class="firstHead"></div>
            <div class="LoginContent ">
                <div class="center my-column uk-margin-xlarge-top">
                    <h3>خوش آمدید</h3>
                    <button class="gradientButton center" onclick="window.location.href='/Account/Login'">
                        ورود
                    </button>
                    <button class="gradientButton center" onclick="window.location.href='/Account/Register'">
                        ثبت نام
                    </button>
                </div>
            </div>
    </div>
</body>
</html>
<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>