@model DataLayer.ViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ورود</title>
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/LoginRegister/loginRegister.min.css" rel="stylesheet" />
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="contentContainer">
            <div class="firstHead"></div>
            <div class="LoginContent ">
                <div class="center my-column uk-margin-large-top">
                    <form class="my-column loginForm uk-padding-small" action="Login" method="post" dir="rtl">
                        @Html.AntiForgeryToken()
                        <label class="uk-text-right" for="">شماره تلفن:</label>
                        <input asp-for="TellNo">
                        <span asp-validation-for="TellNo" class="uk-text-danger"></span>
                        <label class="uk-text-right" for="password">رمز عبور:</label>
                        <input asp-for="Password">
                        <span asp-validation-for="Password" class="uk-text-danger"></span>
                        <input type="hidden" id="foo" name="foo" />
                        <input value="@ViewBag.ReturnUrl" type="hidden" name="RetunUrl" />
                        <div class="my-row uk-margin-top center">
                            <button type="submit" class="gradientButton center">
                                ورود
                            </button>
                            <a class="gradientButtonLink center" href="CreateAccount">
                                ایجاد حساب
                            </a>
                        </div>
                        <a href="/Account/ResetPassword" class="uk-text-warning center uk-margin-small-top">فراموشی رمز عبور</a>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>شما وارد سیستم شده اید</h1>
    }
</body>
</html>
<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>

<script src="https://www.google.com/recaptcha/api.js?render=6LdicRAaAAAAALGqgSv_HLYYoqtnjw3XwFHJXrHj"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LdicRAaAAAAALGqgSv_HLYYoqtnjw3XwFHJXrHj', { action: 'Create' }).then(function (token) {
            document.getElementById("foo").value = token;
        });
    });
</script>
