@model DataLayer.ViewModel.SendChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
<script>
    grecaptcha.ready(function () {
        window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'ResetPassword' }).then(function (token) {
            document.getElementById("captchaInput").value = token;
        });
    });
</script>
<style>
    .grecaptcha-badge {
        opacity: 0;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>بازیابی رمز عبور</title>
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/LoginRegister/loginRegister.min.css" rel="stylesheet" />
</head>
<body>
    <div class="RegisterContainer">
        <div class="firstHead"></div>
        <div class="LoginContent my-clipped mat my-clipped-desktop">
            <div class="center my-column Forget absolute">

                <form class="my-column  uk-padding-small" asp-action="GoChangePassword" asp-controller="Account" dir="rtl">
                    <partial name="_CaptchaInput" />
                    @Html.AntiForgeryToken()
                    <h3>شماره تماس خود را وارد کنید</h3>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon"><span class="icon-holder" uk-icon="call"></span></span>
                            <input class="uk-input" asp-for="TellNo">
                            <br />
                            <span class="uk-text-danger">@ViewBag.Erorr</span>
                        </div>
                    </div>

                    <button class="gradientButton center uk-margin-large-top">
                        ارسال
                    </button>
                    <div class="space-double"></div>
                </form>


            </div>
        </div>
    </div>
    <div class="my-spaceInTablet"></div>
</body>
</html>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>