@import '_colors.scss';
@import '_global.scss';
@import '_layout.scss';
/*#header-region */
@font-face {
    font-family: 'Sahel';
    src: url('/Fonts/Sahel.woff');
    src: url('/Fonts/Sahel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    outline: none;
    font-family: Sahel;
}
a:hover{
    text-decoration:none!important;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh!important;
    background: $bodybackground !important;
}

.layoutHeader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000 !important;

    .mat {
        border-radius: 0 0 8px 8px;
    }

    #offcanvas-flip {
        z-index: 10000 !important;
    }

    .uk-offcanvas-close{
        color:black!important;
    }
    .uk-offcanvas-bar {
        /* * {
            overflow: hidden;
        }*/
        .chevron-back {
            margin-right: 90px !important;
        }

        h3 {
            font-family: "Sahel";
            font-size: 20px;
            font-weight: 600;
            text-align: right;
            color: #555;
            margin-top: 70px;
            overflow: hidden;
        }

        width: 318px;
        background: #fff;
        opacity: 1;
        color: #555;
        //   z-index: 10000000;
        .uk-menu-accordion {
            margin-top: 40px;

            ul, li, a {
                color: #2b2b2b !important;
                font-family: "Sahel";
                font-size: 16px;
            }

            .main-title {
                color: #2b2b2b !important;
                font-size: 18px;
                font-weight: 400;
                font-family: "Sahel";
                text-align: right;
                overflow: hidden;
                //  border-bottom: 1px solid #D7D7D7;
            }

            .uk-accordion-title::before {
                display: none !important;
            }

            .uk-accordion-title::after {
                display: none !important;
            }
        }
    }
}

.layoutFooter {
   position: fixed;
    left: 0;
    bottom: 0!important;
    width: 100%;
    text-align: center;
    z-index: 9000 !important;
    .mat {
        border-radius: 8px 8px 0 0;

        li {
            // padding: 2px 20px;
            cursor: pointer;
            margin: 0 auto;
        }
    }
}
.gradientButton {
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 38px;
    background: $gradientButton;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
   // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.pageHeader {
    background: $pageHeader;
    width: 100%;
    height: 200px;

    .formTitr {
        h3, a {
            color: #FFFFFF !important;
        }
    }
}