@{
    ViewData["Title"] = "خانه";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div style="height:1000px;width:100%; background-image: url('/Logo.png')">


    <h1>
        Mehdi
    <</h1>
</div>