@{
    ViewData["Title"] = "انتخاب";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    //List<string> selectStore = ViewData["SelectStore"] as List<string>;
    //List<string> selectBuissnes = ViewData["SelectBuissnes"] as List<string>;
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="matCart my-column my-clipped my-clipped-desktop">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">لطفا دسته‌بندی مورد نظر را انتخاب کنید </h3>
        <a href="/"><span class="icon-holder backIconDesktop" uk-icon="backIcon"></span></a>
    </div>
    <div class="DashboardGrid grid uk-padding-small center uk-child-width-1-2 uk-margin-top" dir="rtl">
        <a class="matCart my-column AcceptedOrders center" href="/Store/BuyPackage">
            <span class="icon-holder CheckmarkIcon" uk-icon="storefront-outline"></span>
            <label class="">ثبت فروشگاه </label>
           @* @if (selectStore != null)
            {
                @foreach (var item in selectStore)
                {
                    <span>@item</span>
                }
            }*@
        </a>
        <a class="matCart my-column CustomersNumber center" href="/Buissnes/CreateBuissnes">
            <span class="icon-holder PeopleIcon" uk-icon="server-outline"></span>
            <label class="">ثبت خدمات</label>
        @*    @if (selectBuissnes != null)
            {
                @foreach (var item in selectBuissnes)
                {
                    <span>@item</span>
                }
            }*@

        </a>
    </div>
</div>

<div class="my-space"></div>

