<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />

</head>
<body>
    <section class="layoutHeader">
        <div class="mat my-row uk-padding-small">
            <ul class="uk-iconnav">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Claims.First().Value == "d7tpmTdwXL")
                    {
                        <li><a class="icon-holder" uk-icon="addStore" href="/Store/CreateStore"></a></li>
                    }
                    <li><a class="icon-holder" uk-icon="bookmark" href="/Bookmark"></a></li>
                }
                else
                {
                    <li><a href="/Account/CreateAccount?RetunUrl=@Context.Request.Host@Context.Request.Path" class="icon-holder" uk-icon="person-add"></a></li>
                    <li><a class="icon-holder" href="/Store/CreateStore" uk-icon="addStore"></a></li>
                    <li><a class="icon-holder" uk-icon="bookmark" href="/Bookmark"></a></li>
                }
            </ul>
            <span class="icon-holder uk-margin-auto-left" uk-icon="reorder-four" uk-toggle="target: #offcanvas-flip"></span>
        </div>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <h3>دسته بندی مشاغل</h3>
                <ul class="uk-menu-accordion" uk-accordion="multiple: true" dir="rtl">
                    <li class="uk-open">
                        <a class="uk-accordion-title main-title" href="#"><span class="icon-holder uk-margin-small-left" uk-icon="storefront"></span>سوپر مارکت<span class="icon-holder chevron-back" uk-icon="chevron-back"></span></a>
                        <div class="uk-accordion-content uk-margin-small-right">
                            <ul class="uk-margin-right" uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">زیردسته سوپرمارکت</a>
                                    <div class="uk-accordion-content">
                                        <a class="uk-margin-medium-right">زیرزیردسته</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title main-title" href="#"><span class="icon-holder uk-margin-small-left" uk-icon="storefront"></span>سوپر مارکت<span class="icon-holder chevron-back" uk-icon="chevron-back"></span></a>
                        <div class="uk-accordion-content uk-margin-small-right">
                            <ul class="uk-margin-right" uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">زیردسته سوپرمارکت</a>
                                    <div class="uk-accordion-content">
                                        <a class="uk-margin-medium-right">زیرزیردسته</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </section>
    <div>
        @RenderBody()
    </div>
    <section class="layoutFooter">
        <div class="mat uk-padding-small center">
            <ul class="uk-iconnav">
                <li><a class="icon-holder CartNotif" uk-icon="cart"><span class="center badge uk-text-center uk-margin-auto-vertical" dir="auto">3</span></a></li>
                <li><a class="icon-holder" uk-icon="home"></a></li>
                <li><a class="icon-holder" uk-icon="changeAccount"></a></li>
                <li><a class="icon-holder" uk-icon="person"></a></li>
            </ul>
        </div>
    </section>
</body>
</html>

<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="/Jquery/modal.js"></script>
<script src="/Jquery/popper.min.js"></script>
<script src="/Bootstrap/js/bootstrap.js"></script>
<script src="/Bootstrap/js/bootstrap.min.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/UIKit/js/Global.js"></script>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>
<script src="/ScriptCenter/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>

@RenderSection("Script", false)

