<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @*<link href="/Bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    @*<link href="/Bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="/Bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />*@
    @*<link href="/Bootstrap/css/bootstrap-rtl.css" rel="stylesheet" />*@
    @*<link href="/Bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet" />*@
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
</head>
<body>

    <section class="layoutHeader">
        <div class="mat my-row uk-padding-small">
            <ul class="uk-iconnav">
                <li><span class="icon-holder" uk-icon="person-add"></span></li>
                <li><span class="icon-holder" uk-icon="addStore"></span></li>
                <li><span class="icon-holder" uk-icon="bookmark"></span></li>
            </ul>
            <span class="icon-holder uk-margin-auto-left" uk-icon="reorder-four" uk-toggle="target: #offcanvas-flip"></span>
        </div>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <!--<div class="my-row uk-padding-small uk-margin-top center" dir="rtl">
                    <h3>دسته بندی مشاغل</h3>
                    <a><span class="icon-holder backIcon" uk-icon="backIcon"></span></a>-->
                    @* <a><span class="icon-holder uk-position-left uk-margin-large-top uk-margin-small-left" uk-icon="return-up-back"></span></a>*@
                <!--</div>
                <ul dir="rtl">
                    <li><span class="icon-holder" uk-icon="person-add"></span>یسابلشاستنیشس</li>
                    <li>
                        یسابلشاستنیشس
                    </li>
                    <li>
                        یسابلشاستنیشس
                    </li>
                    <li>
                        یسابلشاستنیشس
                    </li>
                </ul>-->
            <table class="menu uk-table" dir="rtl">
                <thead class="uk-margin-bottom">
                    <tr>
                        <th class="uk-text-bold">دسته بندی مشاغل</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="icon-holder uk-margin-small-left" uk-icon="storefront"></span>سوپرمارکت</td>
                        <td><a><span class="icon-holder" uk-icon="chevron-back"></span></a></td>
                    </tr>
                    <tr>
                        <td><span class="icon-holder uk-margin-small-left" uk-icon="storefront"></span>سوپرمارکت</td>
                        <td><a><span class="icon-holder" uk-icon="chevron-back"></span></a></td>
                    </tr>

                    @*<tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>*@
                </tbody>
            </table>

            </div>
        </div>
    </section>
        <div>
            @RenderBody()
        </div>
        <section class="layoutFooter">
            <div class="mat uk-padding-small center">
                <ul class="uk-iconnav">
                    <li><span class="icon-holder" uk-icon="cart"></span></li>
                    <li><span class="icon-holder" uk-icon="home"></span></li>
                    <li><span class="icon-holder" uk-icon="changeAccount"></span></li>
                    <li><span class="icon-holder" uk-icon="person"></span></li>
                </ul>
            </div>
        </section>
</body>
</html>


<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="/Jquery/modal.js"></script>
<script src="/Jquery/popper.min.js"></script>
<script src="/Bootstrap/js/bootstrap.js"></script>
<script src="/Bootstrap/js/bootstrap.min.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/UIKit/js/Global.js"></script>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>
<script src="/ScriptCenter/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>
<script src="/ScriptCenter/AdminLayoutJs/script.js"></script>


@RenderSection("Script", false)

