<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/DataPicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/StyleCenter/Tools/Load.css" rel="stylesheet" />

</head>
<body>
    <section class="layoutHeader">
        <div class="mat my-row uk-padding-small">
            <ul class="uk-iconnav">

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Claims.First().Value == "d7tpmTdwXL")
                    {
                        <li><a class="icon-holder i" uk-icon="addStore" href="/Store/CreateStore"></a></li>
                    }
                    <li><a class="icon-holder i" uk-icon="bookmark" href="/Home/Bookmark"></a></li>
                }
                else
                {
                    <li><a href="/Account/CreateAccount?RetunUrl=@Context.Request.Host@Context.Request.Path" class="icon-holder" uk-icon="person-add"></a></li>
                    <li><a class="icon-holder i" href="/Store/CreateStore" uk-icon="addStore"></a></li>
                    <li><a class="icon-holder i" uk-icon="bookmark" href="/Home/Bookmark"></a></li>
                }
                <li><a class="icon-holder i" uk-icon="notifications" href="/Home/NotificationNewOrder"></a></li>
            </ul>
            <span class="icon-holder uk-margin-auto-left" uk-icon="reorder-four" uk-toggle="target: #offcanvas-flip"></span>
        </div>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <h3>دسته بندی مشاغل</h3>
                <ul class="uk-menu-accordion" uk-accordion="multiple: true" dir="rtl">

                    @await Component.InvokeAsync("ParentCateogoryLayout")

                </ul>

            </div>
        </div>
    </section>
    <div>
        @RenderBody()
    </div>
    <section class="layoutFooter">
        <div class="mat uk-padding-small center">
            <ul class="uk-iconnav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Order/ShowBasket?ReturnUrl=@Context.Request.Host@Context.Request.Path" class="icon-holder CartNotif i" uk-icon="cart"><span class="center badge uk-text-center uk-margin-auto-vertical" dir="auto">@await Component.InvokeAsync("CartCount", User.Claims.Last().Value)</span></a></li>
                }
                else
                {
                    <li><a href="/Account/Login" class="icon-holder CartNotif i" uk-icon="cart"><span class="center badge uk-text-center uk-margin-auto-vertical" dir="auto">0</span></a></li>
                }
                <li><a href="/" class="icon-holder i" uk-icon="home"></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Claims.First().Value == "8f32nFmU6m")
                    {
                        <li><a class="icon-holder i" uk-icon="changeAccount" href="/Store"></a></li>
                    }
                    else if (User.Claims.First().Value == "d7tpmTdwXL")
                    {
                        <li><a class="icon-holder i" uk-icon="changeAccount" href="/Store/BuyPackage"></a></li>
                    }
                }
                else
                {
                    <li><a class="icon-holder i" uk-icon="changeAccount" href="/Store/BuyPackage"></a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="icon-holder i" uk-icon="person" href="/User/UserSetting"></a></li>
                }
                else
                {
                    <li><a class="icon-holder i" uk-icon="person" href="/Account/Login"></a></li>
                }
            </ul>
        </div>
    </section>
    <!-- #Loading -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
</body>
</html>

<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="/Jquery/modal.js"></script>
<script src="/Jquery/popper.min.js"></script>
<script src="/Bootstrap/js/bootstrap.js"></script>
<script src="/Bootstrap/js/bootstrap.min.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.js"></script>
<script src="/Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/UIKit/js/Global.js"></script>
<script src="~/UIKit/js/uikit.min.js"></script>
<script src="/icons/uikit-icons.js"></script>
<script src="/ScriptCenter/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>

<script>
    $(".i").click(function () {
        $("#overlay").fadeIn(300);
    });
</script>


@RenderSection("Script", false)

