@model DataLayer.Models.TblQueue

<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">حذف سفارش</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<h6 class="uk-margin-auto">آیا میخواهید سفارش @Model.Id حذف شود؟</h6>
<div class="modal-footer justify-content-end">
    <img src="~/img/adminStatic/load2.gif" class="justify-content-center d-none" width="60" height="60" />
    <button onclick="Cancel(@Model.Id)" type="button" class="btn btn-sm btn-danger">
        بله
    </button>
    <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" aria-label="Close">
        خیر
    </button>
</div>

<script>
    function Cancel(id) {
        $("#Content").html("<img src='/img/adminStatic/load2.gif' class='justify-content-center' width='60' height='60' />");
        $.get("/Admin/Queue/Cancel?id=" + id + "&PageId=" + @ViewBag.PageId + "&InPageCount=" + @ViewBag.InPageCount + "&QueueId=" + $("#QueueId").val() + "&phoneNumber=" + $("#phoneNumber").val() + "&fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val(), function (result) {
            $("#modalSave").css('display', 'none');
            $("#modalSave").removeClass('show');
            document.querySelectorAll('.modal-backdrop')[0].parentElement.removeChild(document.querySelectorAll('.modal-backdrop')[0]);
            $("#Content").html(result);
        });
    }
</script>

