@model IEnumerable<DataLayer.Models.TblStoreCatagory>

@if (Model.Count() == 0)
{

}
else
{

<select id="ChildCategory" class="uk-select uk-margin-top">
    <option class="">لطفا زیر مجموعه را انتخاب کنید</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
<span id="ChildCategoryInner">

</span>

<script>
    $("#ChildCategory").change(function () {
        $.get("/Store/ChildStoreCategory?id=" + $("#ChildCategory option:selected").val(), function (result) {
            $("#CatagoryId").val($("#ChildCategory option:selected").val());
            $("#ChildCategoryInner").html(result);
        });
    });
</script>
}