@model IEnumerable<DataLayer.Models.TblOrder>

@{
    ViewData["Title"] = "سفارشات | مدیریت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                سفارشات
            </div>

            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">کد سفارش</th>
                                <th scope="col">نام مشتری</th>
                                <th scope="col">زمان ثبت سفارش</th>
                                <th>وضعیت تایید اعتبار</th>
                                <th>وضعیت پرداخت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74965</td>
                                <td>علی مولایی</td>
                                <td>زمان</td>
                                <td class="text-success">
                                    تأیید شده
                                </td>
                                <td class="text-warning">
                                    در انتظار پرداخت
                                </td>
                                <td>
                                    <span data-placement="top" data-toggle="tooltip" title="" data-original-title="لغو سفارش">
                                        <a></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">

                        <li class="page-item d-none">
                            <a class="page-link" onclick="Page(0)">قبلی</a>
                        </li>

                        <li class="page-item">
                            <select id="pageNumber" class="custom-select custom-select-sm">
                                <option class="page-item" value="1" selected="">صفحه 1 از 1</option>
                            </select>
                        </li>


                        <li class="page-item d-none">
                            <a class="page-link" onclick="Page(2)">بعدی</a>
                        </li>
                        <li>
                            <select id="InPageCount" class="custom-select custom-select-sm">
                                <option value="0" selected="">18 در هر صفحه</option>
                                <option value="20">20 در هر صفحه</option>
                                <option value="30">30 در هر صفحه</option>
                                <option value="40">40 در هر صفحه</option>
                            </select>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


@*<a onclick="Info(6)" data-toggle="modal" data-target="#modalSave">تست</a>
<a onclick="Cancel(6)" data-toggle="modal" data-target="#modalSave">تست</a>


<a onclick="test()">hbhb</a>


<form id="ifd">
    First name: <input type="text" name="FirstName" value="Mickey"><br>
    Last name: <input type="text" name="LastName" value="Mouse"><br>
    <input type="submit" value="Submit">
</form>


@section Script{
    <script>

        $("#ifd").submit(function () {
            alert("Submitted");
        });

        function Info(id) {
            $.get("/Admin/Order/p_Info?id=" + id, function (result) {
                $(".modal-content").html(result);
            });
        }


        function Info(id) {
            $.get("/Admin/Order/p_Cancel?id=" + id, function (result) {
                $(".modal-content").html(result);
            });
        }


    </script>
}*@