@model IEnumerable<DataLayer.Models.TblOrder>

@{
    ViewData["Title"] = "سفارشات | مدیریت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<a onclick="Info(6)" data-toggle="modal" data-target="#modalSave">تست</a>
<a onclick="Cancel(6)" data-toggle="modal" data-target="#modalSave">تست</a>


<a onclick="test()">hbhb</a>


<form id="ifd">
    First name: <input type="text" name="FirstName" value="Mickey"><br>
    Last name: <input type="text" name="LastName" value="Mouse"><br>
    <input type="submit" value="Submit">
</form>


@section Script{
    <script>

        $("#ifd").submit(function () {
            alert("Submitted");
        });

        function Info(id) {
            $.get("/Admin/Order/p_Info?id=" + id, function (result) {
                $(".modal-content").html(result);
            });
        }


        function Info(id) {
            $.get("/Admin/Order/p_Cancel?id=" + id, function (result) {
                $(".modal-content").html(result);
            });
        }


    </script>
}