@model IEnumerable<DataLayer.Models.TblOrder>

@{
    ViewData["Title"] = "سفارشات | مدیریت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<a onclick="Info(6)" data-toggle="modal" data-target="#modalSave">تست</a>
<a onclick="Cancel(6)" data-toggle="modal" data-target="#modalSave">تست</a>


<a onclick="test()">hbhb</a>

<script>

    function test() {
        alert("ff");
        var object = {
            PageId=3,
            InPageCount=6,
        }

        $.get("/Admin/Order?paging=" + object, function () {
        });
    }

    function Info(id) {
        $.get("/Admin/Order/p_Info?id=" + id, function (result) {
            $(".modal-content").html(result);
        });
    }


    function Info(id) {
        $.get("/Admin/Order/p_Cancel?id=" + id, function (result) {
            $(".modal-content").html(result);
        });
    }


</script>